.game-container{
  position: relative;
        width: 100vw;
        height: 100vh;
        border: 5px solid darkmagenta;
        background-color: lightyellow;
        overflow: hidden;
        margin: 0 auto;
}
.start-modal{
  position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 200px;
          height: 100px;
          background-color: rgba(0,0,0,0.8);
          color: white;
          text-align: center;
          padding: 20;
          border-radius: 10;
}
.timer{
  position: absolute;
  top: 25;
  right: 25;
  font-size: 18;
}
.score{
  position: absolute;
  top: 15;
  left: 35;
  font-size: 18;
}
.start-button{
  margin-top: 20;
}
