html{
  font-size: 62.5%;
}

.game-container{
  position: relative;
        width: 100vw;
        height: 100vh;
        border: 5px solid darkmagenta;
        background-color: lightyellow;
        overflow: hidden;
        margin: 0 auto;
}
.start-modal{
  position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 200px;
          height: 100px;
          background-color: rgba(0,0,0,0.8);
          color: white;
          text-align: center;
          padding: 20;
          border-radius: 10;
}
.timer{
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
  font-size: 1.8rem;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
.score{
  position: absolute;
  top: 7rem;
  left: 2.5rem;
  font-size: 1.8rem;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
.start-button{
  margin-top: 0.3rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: bolder;
  background-color: white;
  color: rgb(0, 37, 0);
}
.volume-info{
  font-size: 1.5rem;
}
.start-text{
  font-size: 2rem;
}